Repository chamburr/homelab: changes, and which Woodpecker steps are due for each by the changed paths.
All: ansible, kubernetes

.woodpecker/ansible.yaml:

when:
  - event: push
    branch: main
    path: ansible/**

steps:
  - name: run playbook
    image: python
    commands:
      - pip install ansible
      - echo "$SSH_PRIVATE_KEY" > /tmp/id_ed25519
      - chmod 400 /tmp/id_ed25519
      - ansible-playbook -i ansible/hosts.yml ansible/main.yml
    environment:
      ANSIBLE_FORCE_COLOR: true
      ANSIBLE_HOST_KEY_CHECKING: false
      ANSIBLE_PRIVATE_KEY_FILE: /tmp/id_ed25519
      SSH_PRIVATE_KEY:
        from_secret: ssh_private_key

.woodpecker/kubernetes.yaml:

when:
  - event: push
    branch: main
    path: kubernetes/**

skip_clone: true

steps:
  - name: wait for reconciliation
    image: ubuntu
    commands:
      - apt-get -qq update
      - apt-get install -y curl jq
      # yamllint disable rule:line-length
      - timeout 180 /bin/sh -c -- 'while true; do sleep 5;
        result=$(curl -s -u $PROMETHEUS_USERNAME:$PROMETHEUS_PASSWORD
        https://prometheus.chamburr.xyz/api/v1/query -G -d "query=sum%28argocd_app_info%7Bsync_status%21%3D%22Synced%22%7D%20or%20argocd_app_info%7Bhealth_status%21%3D%22Healthy%22%7D%29" |
        jq -r ".data.result[0].value[1]"); if [ "$result" = "0" ]; then break; fi; done'
      # yamllint enable rule:line-length
    environment:
      PROMETHEUS_USERNAME:
        from_secret: prometheus_username
      PROMETHEUS_PASSWORD:
        from_secret: prometheus_password

style: update yaml format
  .yamllint.yaml
Due: none

chore: update env
  .env.example
Due: none

chore: update gitignore
  .gitignore
Due: none

chore: update brewfile
  Brewfile
Due: none

docs: update readme
  README.md
Due: none

ci: fix reconciliation check
  .woodpecker/kubernetes.yaml
Due: none

ci: fix renovate config
  .renovate/config.json
  .renovate/pr-label.json
Due: none

style: change to double quotes
  kubernetes/developer/woodpecker/agent/rbac.yaml
  kubernetes/networking/headscale/rbac.yaml
Due: kubernetes

build: update kubernetes to 1.32.3
  kubernetes/system/system-upgrade/plans/kubernetes.yaml
Due: kubernetes

build: update talos to 1.9.5
  kubernetes/system/system-upgrade/plans/talos.yaml
Due: kubernetes

fix: fix talos system upgrade
  kubernetes/system/system-upgrade/plans/talos.yaml
  kubernetes/system/system-upgrade/values.yaml
Due: kubernetes

chore: disable alertmanager warnings
  kubernetes/monitoring/alertmanager/resources/alertmanager.yaml
Due: kubernetes

fix: disable alertmanager warnings
  kubernetes/monitoring/alertmanager/resources/alertmanager.yaml
Due: kubernetes

fix: remove system backup tolerations
  kubernetes/system/system-backup/values.yaml
Due: kubernetes

fix: update system backup script
  kubernetes/system/system-backup/resources/entrypoint.sh
Due: kubernetes

fix: update rook ceph placement
  kubernetes/rook-ceph/rook-ceph-cluster/values.yaml
Due: kubernetes

fix: reduce system backup interval
  kubernetes/system/system-backup/resources/entrypoint.sh
Due: kubernetes

fix: remove uptime kuma dns
  kubernetes/monitoring/uptime-kuma/values.yaml
Due: kubernetes

build(helm): update external-secrets to 0.16.1
  kubernetes/system/external-secrets/kustomization.yaml
Due: kubernetes

fix: update external secrets version
  kubernetes/argocd/argocd/secret.yaml
  kubernetes/automation/ntfy/secret.yaml
  kubernetes/developer/woodpecker/secret.yaml
  kubernetes/kube-system/cilium/secret.yaml
  kubernetes/monitoring/alertmanager/secret.yaml
  kubernetes/monitoring/prometheus/secret.yaml
  kubernetes/networking/cert-manager/secret.yaml
  kubernetes/networking/headscale/secret.yaml
  kubernetes/networking/ipsec/secret.yaml
  kubernetes/networking/traefik/secret.yaml
  kubernetes/networking/wireguard/secret.yaml
  kubernetes/storage/anki/secret.yaml
  kubernetes/storage/immich/secret.yaml
  kubernetes/storage/minio/secret.yaml
  kubernetes/storage/nextcloud/secret.yaml
  kubernetes/system/external-secrets/secret/secret-store.yaml
  kubernetes/system/external-secrets/secret/secret.yaml
  kubernetes/utility/flame/secret.yaml
  kubernetes/utility/kutt/secret.yaml
  kubernetes/utility/vaultwarden/secret.yaml
Due: kubernetes

fix: fix haste storage
  kubernetes/utility/haste/cronjob.yaml
  kubernetes/utility/haste/values.yaml
Due: kubernetes

fix: update bjw-s chart
  kubernetes/automation/home-assistant/kustomization.yaml
  kubernetes/automation/n8n/kustomization.yaml
  kubernetes/automation/ntfy/kustomization.yaml
  kubernetes/developer/gitea/kustomization.yaml
  kubernetes/developer/kasm/kustomization.yaml
  kubernetes/developer/ollama/api/kustomization.yaml
  kubernetes/developer/ollama/kustomization.yaml
  kubernetes/developer/woodpecker/agent/kustomization.yaml
  kubernetes/developer/woodpecker/kustomization.yaml
  kubernetes/monitoring/alertmanager/kustomization.yaml
  kubernetes/monitoring/grafana/kustomization.yaml
  kubernetes/monitoring/uptime-kuma/kustomization.yaml
  kubernetes/networking/adguard/kustomization.yaml
  kubernetes/networking/headscale/kustomization.yaml
  kubernetes/networking/ipsec/kustomization.yaml
  kubernetes/networking/librespeed/kustomization.yaml
  kubernetes/networking/wireguard/kustomization.yaml
  kubernetes/storage/anki/kustomization.yaml
  kubernetes/storage/immich/kustomization.yaml
  kubernetes/storage/immich/machine-learning/kustomization.yaml
  kubernetes/storage/immich/postgres/kustomization.yaml
  kubernetes/storage/immich/redis/kustomization.yaml
  kubernetes/storage/minio/kustomization.yaml
  kubernetes/storage/nextcloud/kustomization.yaml
  kubernetes/storage/nextcloud/postgres/kustomization.yaml
  kubernetes/storage/nextcloud/redis/kustomization.yaml
  kubernetes/system/system-backup/kustomization.yaml
  kubernetes/system/system-upgrade/kustomization.yaml
  kubernetes/utility/flame/kustomization.yaml
  kubernetes/utility/freshrss/kustomization.yaml
  kubernetes/utility/haste/kustomization.yaml
  kubernetes/utility/kutt/kustomization.yaml
  kubernetes/utility/linkding/kustomization.yaml
  kubernetes/utility/pingvin/kustomization.yaml
  kubernetes/utility/vaultwarden/kustomization.yaml
Due: kubernetes

build(helm): update argo-cd to 8.0.2
  kubernetes/argocd/argocd/kustomization.yaml
  kubernetes/argocd/argocd/values.yaml
Due: kubernetes

fix: fix headscale config
  kubernetes/networking/headscale/resources/config.yaml
Due: kubernetes

fix: add system upgrade tolerations
  kubernetes/system/system-upgrade/plans/kubernetes.yaml
  kubernetes/system/system-upgrade/plans/talos.yaml
Due: kubernetes

build(docker): update redis to v8.0.2
  kubernetes/storage/immich/redis/values.yaml
  kubernetes/storage/nextcloud/redis/values.yaml
Due: kubernetes

build(helm): update argo-cd to 8.0.14
  kubernetes/argocd/argocd/kustomization.yaml
Due: kubernetes

build(helm): update rook-ceph to v1.17.3
  kubernetes/rook-ceph/rook-ceph/kustomization.yaml
Due: kubernetes

build(helm): update rook-ceph-cluster to v1.17.3
  kubernetes/rook-ceph/rook-ceph-cluster/kustomization.yaml
Due: kubernetes

build(docker): update installer to v1.10.4
  kubernetes/system/system-upgrade/plans/talos.yaml
Due: kubernetes

build(docker): update talosctl to v1.10.4
  kubernetes/system/system-upgrade/plans/kubernetes.yaml
  kubernetes/system/system-upgrade/plans/talos.yaml
Due: kubernetes

Update values.yaml
  kubernetes/networking/traefik/values.yaml
Due: kubernetes

fix: fix kube-state-metrics version
  kubernetes/monitoring/kube-state-metrics/kustomization.yaml
Due: kubernetes

chore: update timezone
  ansible/host_vars/homelab.yml
  kubernetes/automation/n8n/values.yaml
  kubernetes/storage/immich/values.yaml
Due: ansible, kubernetes

fix: fix immich data folder
  kubernetes/storage/immich/values.yaml
Due: kubernetes

update
  kubernetes/developer/woodpecker/agent/values.yaml
  kubernetes/networking/headscale/values.yaml
  kubernetes/system/system-upgrade/values.yaml
Due: kubernetes

fix: remove primary service suffix
  kubernetes/networking/adguard/values.yaml
  kubernetes/networking/headscale/values.yaml
  kubernetes/networking/wireguard/values.yaml
Due: kubernetes

build(helm): update wg-easy to 15.1.0
  kubernetes/networking/wireguard/kustomization.yaml
  kubernetes/networking/wireguard/secret.yaml
  kubernetes/networking/wireguard/values.yaml
Due: kubernetes

fix: reduce system upgrade delay
  kubernetes/system/system-upgrade/plans/talos.yaml
Due: kubernetes

feat: add velero
  ansible/roles/kubernetes/defaults/main.yml
  kubernetes/system/velero/kustomization.yaml
  kubernetes/system/velero/secret.yaml
  kubernetes/system/velero/values.yaml
Due: ansible, kubernetes
